.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }
//something was over riding it or it may just have to have been at the top of the styles, in the fcc example it was technically at the top of the styles sheet
html {
  font-size: 10px;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 1.6rem; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 1.5;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 4rem;
  margin-bottom: 0;
  
}

}
@media (max-width: 460px) {
  h1 {
    font-size: 20rem;
    line-height: 1.2;
  }
}
h2 {
  font-size: 3.25rem;
}
a {
  color: #ED6A5A;
}
a:visited {
  color: #5D576B;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #E6EBE0;
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
img {
  max-width: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-div {
  background-color: #F4F1BB;
  padding: 10px;
  margin: 0;
}
#img-caption {
  margin: 15px 0 5px 0;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
#headline {
  margin: 50px 0;
  text-align: center;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
li {
  margin: 16px 0;
}
blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
